/**** DEFAULTS ****/
:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	font-feature-settings: "dlig", "zero", "ss01", "ss03", "cv01", "cv10";
	--backColor: #171717;
	--compColor: #1d1d1d;
	--titleColor: #e8e6e3;
	--foreColor: #8a8b8e;
	--borderColor: #424242;
	--marginGap: 1rem;
}
@supports (font-variation-settings: normal) {
	:root { font-family: InterVariable, sans-serif; }
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--backColor);
	font-optical-sizing: auto;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	color: var(--foreColor);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.45;
}


/**** TYPOGRAPHY DEFAULTS ****/
h1, h2, h3, h4 {
	color: var(--titleColor);
}
h1, h2 {
	line-height: 1;
}
h1, h3 {
	font-size: 1.25rem;
	font-weight: 450;
	letter-spacing: -0.015rem;
}
h2 {
	font-size: clamp(3.6rem, 6vw, 4.8rem);
	font-weight: 600;
	letter-spacing: -0.03em;
}
h4 {
	font-size: 1.1rem;
	font-weight: 500;
}
ul {
	list-style: none;
}
p {
	font-size: 1.1rem;
}
a {
	color: var(--titleColor);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/**** HEADER ****/
header {
	display: grid;
	grid-template: var(--marginGap) auto 6rem auto 2rem / minmax(var(--marginGap), 1fr) minmax(auto, 640px) minmax(auto, 640px) minmax(var(--marginGap), 1fr);
}
h1 {
	grid-row: 2;
	grid-column: 2;
}
header ul {
	grid-row: 2;
	grid-column: 3;
	justify-self: end;
}
header ul li {
	display: inline;
}
header ul li:nth-child(2)::before {
	content: " | ";
}
h2 {
	grid-row: 4;
	grid-column: 2 / span 2;
	align-self: end;
}


/**** SLIDER ****/
#slider {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
	line-height: 0;
	background-color: #1f1f1f;
	max-width: 1280px;
	margin: 0 auto;
}
#slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
}


/**** INFO ****/
#info {
	display: grid;
	grid-template: 2rem auto 4rem auto 2rem / minmax(var(--marginGap), 1fr) minmax(auto, 640px) minmax(var(--marginGap), 1fr);
}
h3 {
	grid-row: 2;
	grid-column: 2;
}
#info ul {
	grid-row: 4;
	grid-column: 2;
}
#info li {
	display: grid;
	grid-template: auto auto 2rem / 48px 1rem 1fr;
}
#info img {
	grid-row: 1 / span 2;
	grid-column: 1;	
	width: 48px;
}
#info h4 {
	grid-row: 1;
	grid-column: 3;
	margin-top: -6px;
}
#info p {
	grid-row: 2;
	grid-column: 3;
}


/**** MAIN ****/
main h4 {
	font-size: 2.25rem;
	font-weight: 200;
	line-height: 1;
	color: var(--titleColor);
}


/**** JOIN ****/
#join {
	display: grid;
	grid-template: 3rem auto 1rem auto 1rem auto 1rem auto 3rem / minmax(var(--marginGap), 1fr) minmax(auto, 640px) minmax(var(--marginGap), 1fr);
	background-color: var(--compColor);
	border-top: 1px dashed var(--borderColor);
}
#join h4 {
	grid-row: 2;
	grid-column: 2;
}
#join p:nth-child(2) {
	grid-row: 4;
	grid-column: 2;
}
#join p:nth-child(3) {
	grid-row: 6;
	grid-column: 2;
}
form {
	grid-row: 8;
	grid-column: 2;
	max-width: 480px;
	display: grid;
	grid-template: auto auto 1rem auto auto 1rem auto auto 1.5rem auto / auto 1rem 1fr;
}
form label:first-child {
	grid-row: 1;
	grid-column: 1 / span 3;
}
form input:nth-child(2) {
	grid-row: 2;
	grid-column: 1 / span 3;
}
form label:nth-child(3) {
	grid-row: 4;
	grid-column: 1 / span 3;
}
form input:nth-child(4) {
	grid-row: 5;
	grid-column: 1 / span 3;
}
form label:nth-child(5) {
	grid-row: 7;
	grid-column: 1 / span 3;
}
form input:nth-child(6) {
	grid-row: 8;
	grid-column: 1 / span 3;
}
form button {
	grid-row: 10;
	grid-column: 1;
}
form span {
	grid-row: 10;
	grid-column: 3;
	/* background-color: #000; */
}
form label {
	font-size: 0.9rem;
}
form input, form button {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	font-feature-settings: "dlig", "zero", "ss01", "ss03", "cv01", "cv10";
	border-radius: 4px;
}
form input {
	font-size: 1.1rem;
	color: var(--titleColor);
	background-color: var(--backColor);
	border: 1px solid var(--borderColor);
	padding: 0.33rem 0.5rem;
}
form button {
	width: 120px;
	height: 48px;
	border: 0;
	font-size: 1rem;
	font-weight: 600;
	color: var(--backColor);
	background-color: var(--titleColor);
	cursor: pointer;
}
form button:active {
	transform: translate(2px,1px);
}
form button:disabled {
	background-color: var(--backColor);
	cursor: wait;
}
form span {
	align-self: center;
}
form span p {
	color: var(--titleColor);
}
form span p.msg-error, form span p.msg-sucess {
	font-size: 1.1rem;
	line-height: 1.25;
	font-weight: 600;	
}
form span p.msg-error {
	color: #d33;
}
form span p.msg-success {
	color: #3d3;
}

/**** DOWNLOAD ****/
#download {
	display: grid;
	grid-template: 3rem auto 1rem auto 1rem auto 1.75rem 1px 1.5rem auto 1rem auto 1.5rem 1px 1rem auto 3rem / minmax(var(--marginGap), 1fr) minmax(auto, 640px) minmax(var(--marginGap), 1fr);
	border-top: 1px dashed var(--borderColor);
}
#download h4 {
	grid-row: 2;
	grid-column: 2;
}
#download p:nth-child(2) {
	grid-row: 4;
	grid-column: 2;
}
#download ul:nth-child(3) {
	grid-row: 6;
	grid-column: 2;
	display: grid;
	/* grid-template: auto / auto 1rem auto 1rem auto 1fr; */
	grid-template-columns: repeat(1, 160px);
	grid-column-gap: 1rem;
	grid-auto-rows: 48px;
}
#download ul:nth-child(3) li:nth-child(2), #download ul:nth-child(3) li:last-child {
	display: none;
}
#download ul:nth-child(3) img {
	cursor: pointer;
}
#download button {
	width: 160px;
	height: 48px;
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	font-feature-settings: "dlig", "zero", "ss01", "ss03", "cv01", "cv10";
	font-size: 1rem;
	color: #fff;
	background-color: #000;
	border: 1px solid #a6a6a6;
	border-radius: 6px;
	cursor: pointer;
}
#download ul:nth-child(3) img:active, #download button:active {
	transform: translate(2px,1px);
}
#download li:last-child button img {
	margin-top: -4px;
}
#download button span {
	border-top: 0;
	vertical-align: middle;
	margin-left: 8px;
}
#download span:nth-child(4) {
	grid-row: 8;
	grid-column: 2;	
}
#download p:nth-child(5) {
	grid-row: 10;
	grid-column: 2;
}
#download ul:nth-child(6) {
	grid-row: 12;
	grid-column: 2;
	display: grid;
	grid-template-columns: repeat(2, 160px);
	grid-gap: 1rem;
	grid-auto-rows: 24px;
}
#download span:nth-child(7) {
	grid-row: 14;
	grid-column: 2;
}
#download p:last-child {
	grid-row: 16;
	grid-column: 2;
	font-size: 1rem;
}
#download span {
	border-top: 1px dotted var(--borderColor);
}
#download button img, #download ul:nth-child(6) img {
	height: 24px;
	vertical-align: middle;
}


/**** FOOTER ****/
footer {
	display: grid;
	grid-template: 3rem auto 3rem auto 0.5rem auto 2.5rem / minmax(var(--marginGap), 1fr) auto minmax(var(--marginGap), 1fr);
	justify-items: center;
	background-color: var(--compColor);
	border-top: 1px dashed var(--borderColor);
}
footer ul {
	grid-row: 2;
	grid-column: 2;
}

footer li {
	text-align: center;
}
footer li + li {
	margin-top: 0.5rem;
}
/*
footer li {
	display: inline;
}
footer li::after {
	content: " · ";
}
footer li:last-child::after {
	content: "";
}
*/
footer span {
	grid-row: 4;
	grid-column: 2;
	width: 36px;
	line-height: 0;
}
footer span a {
	border-radius: 50%;
}
footer img {
	width: 100%;
	border-radius: 50%;
}
footer p {
	grid-row: 6;
	grid-column: 2;
	font-size: 0.9rem;
}

/**** MEDIA QUERIES ****/
@media screen and (min-width: 545px) {
	#download ul:nth-child(3) {
		grid-template-columns: repeat(3, 160px);
	}
	#download ul:nth-child(3) li:nth-child(2), #download ul:nth-child(3) li:last-child {
		display: block;
	}
	#download ul:nth-child(6) {
		grid-template-columns: repeat(3, 160px);
	}
}
@media screen and (min-width: 768px) {
	:root {
		--marginGap: 2rem;
	}
}
@media screen and (min-width: 920px) {
	#info h3 {
		grid-column: 1 / span 3;
		text-align: center;
	}
}
@media screen and (min-width: calc(1080px + 4rem)) {
	#info {
		grid-template-columns: minmax(var(--marginGap), 1fr) minmax(auto, 1280px) minmax(var(--marginGap), 1fr);
	}
	#info ul {
		display: grid;
		grid-template: auto / 1fr 2rem 1fr 2rem 1fr;
	}
	#info li:first-child {
		grid-row: 1;
		grid-column: 1;
	}
	#info li {
		grid-row: 1;
		grid-column: 3;
	}
	#info li:last-child {
		grid-row: 1;
		grid-column: 5;
	}
	#info li {
		display: grid;
		grid-template: auto 0.5rem 1fr 2rem / auto 0.5rem 1fr;
	}
	#info img {
		grid-row: 1;
		grid-column: 1;
	}
	#info h4 {
		grid-row: 1;
		grid-column: 3;
		align-self: center;
		margin-top: 0;
	}
	#info p {
		grid-row: 3;
		grid-column: 1 / span 3;
	}
}
@media screen and (min-width: 1280px) {
	main {
		display: grid;
		grid-template: auto / 1fr 1fr;
	}
	main section {
		width: 100%;
	}
	#join {
		grid-template-columns: minmax(var(--marginGap), 1fr) minmax(auto, calc(640px - var(--marginGap))) var(--marginGap);
	}
	#download {
		grid-template-columns: var(--marginGap) minmax(auto, calc(640px - var(--marginGap))) minmax(var(--marginGap), 1fr);
		background-color: var(--compColor);
		border-left: 1px dashed var(--borderColor);
	}
	#download button {
		background-color: var(--backColor);
	}
	footer {
		background-color: var(--backColor);
	}
}


/**** EXTRA PAGES ****/
article {
	margin: 2rem var(--marginGap) 3rem var(--marginGap);
}
article h3, article p, article ol {
	max-width: 820px;
	margin: 0 auto;
}
article h3 {
	font-size: 2.25rem;
	font-weight: 200;
	line-height: 1.2;
	color: var(--titleColor);
}
article p {
	margin-top: 1rem;
}
article ol {
	margin-top: 1rem;
	list-style-type: lower-alpha;
}
article li {
	font-size: 1.1rem;
	margin: 0 2.4rem;
}
article li + li {
	margin-top: 0.33rem;
}
article p + h3, article ol + h3 {
	margin-top: 3rem;
}
@media screen and (min-width: 890px) {
	article li {
		font-size: 1.1rem;
		margin: 0 3.6rem;
	}
}
@media screen and (min-width: 1280px) {	
	footer.extra {
		background-color: var(--compColor);
	}
}