:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	font-feature-settings: "dlig", "zero", "ss01", "ss03", "cv01", "cv10";
	--backColor: #171717;
	--compColor: #1f1f1f;
	--borderColor: #2a2a2a;
	--foreColor: #c0c0c0;
}
@supports (font-variation-settings: normal) {
	:root { font-family: InterVariable, sans-serif; }
}
* {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	height: 100%;
	overflow-x: hidden;
}
body {
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;	
	line-height: 1.3;
	letter-spacing: 0.4px;
	background-color: var(--backColor);
	color: var(--foreColor);
}

/* HEADER */
header {
	position: relative;
	width: 100%;
	height: 56.25vw;
	overflow: hidden;
}
.image-container {
	position: absolute;
	inset: 0;
}
.fade-img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	z-index: 1;
	transition: opacity 1s ease-in-out;
}
.fade-img.visible {
	opacity: 1;
	z-index: 2;
}
.overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom, transparent 50%, var(--backColor) 100%);
	z-index: 10;
	pointer-events: none; /* pointer-events: none allows right-clicks to hit the image underneath */
}

#header-text {
	position: absolute;
	inset: 0;
	z-index: 20;
	display: grid;
	grid-template: 2rem 2rem auto 2rem / 2rem auto 2rem;
}
h1 {
	grid-column: 2;
	grid-row: 2;
	text-align: left;
	align-self: center;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.33);
}
h2 {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-style: normal;	
	grid-column: 2;
	grid-row: 3;
	text-align: center;
	align-self: end;
	font-size: 9.6vw;
	font-weight: 600;
	letter-spacing: -3.5px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.66);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.33);

}

/* INFO */
h4 {
	font-size: 1.25rem;
	font-weight: 500;
	color: #ebebe3;
}
h5 {
	font-size: 1.15rem;
	font-weight: 500;	
}
section {
	margin: 0 auto;
	max-width: 960px;
}
#info {
	display: grid;
	grid-template-columns: auto 16px 1fr 32px auto 16px 1fr;
	grid-template-rows: 96px auto 128px auto 48px auto 128px;
}
#intro {
	grid-row: 2;
	grid-column: 1 / span 7;
	column-span: 4;
	font-size: 2.22rem;
	font-weight: 500;
	text-align: center;
}
#catalog_icons, #catalog_text {
	grid-row: 4;
	align-self: center;
} 
#catalog_icons {
	grid-column: 1 / span 3;
	width: 464px;
	align-self: center;
}
#catalog_text {
	grid-column: 5 / span 3;
}
#catalog_text > p {
	margin-top: 1rem;
}
#subtitles_icon, #subtitles_text, #quality_icon, #quality_text {
	grid-row: 6;
	align-self: center;
}
#subtitles_icon, #quality_icon {
	height: 48px;
}
#subtitles_icon {
	grid-column: 1;
}
#subtitles_text {
	grid-column: 3;
}
#quality_icon {
	grid-column: 5;
}
#quality_text {
	grid-column: 7;
}

/* SIGN UP */
#action {
	max-width: 100%;
	background-color: var(--compColor);
	display: grid;
	grid-template-columns: 1fr 348px 31px 8px 32px 548px 1fr;
	grid-template-rows: 64px auto 64px;
}
#action p {
	margin-top: 1rem;
}
#action p.note {
	font-size: 0.85rem;
	font-style: italic;
}
#signup {
	grid-row: 2;
	grid-column: 2;
}
label {
	display: block;
}
label:first-child {
	margin-top: 2rem;
}
input {
	padding: 0.5rem 0.5rem;
	width: calc(100% - 1rem);
	color: var(--foreColor);
	background-color: var(--backColor);	
	border: 1px solid var(--borderColor);	
	border-radius: 4px;
	display: block;
	margin-bottom: 16px;
	font-size: 1rem;
}
input:last-child {
	margin-top: 2rem;
	margin-bottom: 0;
	color: var(--backColor);
	background-color: var(--foreColor);	
	cursor: pointer;
	font-weight: bold;
	width: 40%;
	float: right;
}
input:last-child:active {
	translate: 1px 1px;	
}
#separator {
	grid-row: 1 / span 3;
	grid-column: 4;
	background-color: #171717;	
}
#download {
	grid-row: 2;
	grid-column: 6;
}
#download > p {
	max-width: 360px;
}
#download p.note {
	margin-top: 2rem;
}
#download p.note a{
	color: var(--foreColor);
	text-decoration: underline;
}
#playstore img, #tv img, #desktop img {
	align-self: center;
}
#playstore img, #tv img {
	height: 16px;
}
#desktop img {
	height: 20px;
}
#playstore div.hr, #tv div.hr, #desktop div.hr {
	grid-row: 2;
	background-color: #333;
}
#playstore {
	display: grid;
	grid-template-rows: 32px 1px auto;
	grid-template-columns: auto 32px auto 32px auto;
	justify-content: start;
	margin-top: 3.6rem;
}
#googletv {
	grid-row: 1;
	grid-column: 1;
}
#androidtv {
	grid-row: 1;
	grid-column: 3;
}
#android {
	grid-row: 1;
	grid-column: 5;
}
#playstore div.hr {
	grid-column: 1 / span 5;
}
#googleplay {
	grid-row: 3;
	grid-column: 1 / span 5;
	margin-top: 1rem;
}
#googleplay:active {
	translate: 1px 1px;	
}
#googleplay img {
	height: 48px;
}
#tv {
	display: grid;
	grid-template-rows: 32px 1px auto;
	grid-template-columns: auto 32px auto 32px auto 32px auto;
	justify-content: start;
	margin-top: 3.6rem;
}
#samsung {
	grid-row: 1;
	grid-column: 1;
}
#lg {
	grid-row: 1;
	grid-column: 3;
}
#philips {
	grid-row: 1;
	grid-column: 5;
}
#hisense {
	grid-row: 1;
	grid-column: 7;
}
#tv div.hr {
	grid-column: 1 / span 7;
}
#tvstore {
	grid-row: 3;
	grid-column: 1 / span 7;
	margin-top: 1rem;
}
#desktop {
	display: grid;
	grid-template-rows: 32px 1px auto;
	grid-template-columns: 150px 32px 150px;
	justify-content: start;
	margin-top: 3.6rem;
}
#windows {
	grid-row: 1;
	grid-column: 1;
	justify-self: center;
}
#mac {
	grid-row: 1;
	grid-column: 3;
	justify-self: center;
}
#desktop div.hr {
	grid-column: 1 / span 3;
}
#windows_downloads {
	grid-row: 3;
	grid-column: 1;
}
#mac_downloads {
	grid-row: 3;
	grid-column: 3;
}
#desktop ul {
	list-style: none;
	margin-top: 1rem;
}
#desktop li {
	margin-top: 0.5rem;
}
#desktop a {
	display: block;
	color: var(--backColor);
	background-color: var(--foreColor);
	text-decoration: none;
	text-align: center;
	padding: 0.25rem;
	border-radius: 3px;
}
#desktop li:active a {
	translate: 1px 1px;
}

/* FAQ */
#faq {
	display: grid;
	place-content: start;
	grid-template: 96px auto auto 96px / 1fr;
}
#faq > h4 {
	grid-row: 2;
	grid-column: 1;
}
#questions {
	grid-row: 3;
	grid-column: 1;
}
#questions > div {
	display: grid;
	grid-template: 2rem auto 1rem auto / 1fr;
}
#questions > div > h5 {
	grid-row: 2;
	grid-column: 1;	
}
#questions > div > div {
	grid-row: 4;
	grid-column: 1;
}
#questions > div > div > p{
	margin-left: 16px;
}

/* FOOTER */
footer {
	background-color: var(--compColor);
	border-top: 1px dashed var(--borderColor);
}
footer > div {
	max-width: 640px;
	margin: 0 auto;
	padding: 1rem 2rem;
}
footer > div > p {
	margin: 1rem;
}
footer > #about > p {
	text-align: center;
}
footer > #about > p > a {
	color: var(--foreColor);
	text-decoration: none;
}
footer > #about > p > a:hover {
	color: var(--foreColor);
	text-decoration: underline;
}
footer > #about > p > a > img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
}
footer > #disclaimer > p {
	color: #666;
	font-size: 0.9rem;
}

/* MEDIA QUERIES */
@media screen and (orientation:portrait) {
	header {
		max-height: 66%;
	}
}

@media screen and (orientation:landscape) {
	header {
		max-height: 100%;
	}	
}

@media screen and (max-width: 1023px) {
	h1 {
		font-size: 1.25rem;
		letter-spacing: -0.5px;
	}
	h2 {
		font-size: 8.8vw;
		letter-spacing: -1px;
	}
	#intro {
		font-size: 1.5rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 43rem;
	}
	#info h4 {
		text-align: center;
	}
	#info {
		grid-template-columns: 2rem 1fr 2rem;
		grid-template-rows: 4rem auto 6rem auto 1rem auto 4rem auto 1rem auto 2rem auto 1rem auto 4rem;		
	}
	#catalog_icons, #catalog_text, #subtitles_icon, #subtitles_text, #quality_icon, #quality_text {
		grid-column: 2;
		justify-self: center;
		text-align: center;
	}
	#subtitles_icon, #subtitles_text, #quality_icon, #quality_text {
		max-width: 380px;
	}
	#catalog_icons {
		grid-row: 4;
	}
	#catalog_text {
		grid-row: 6;
		max-width: 450px;
	}
	#catalog_text > p {
		margin-top: 0;
		text-align: left;
	}	
	#subtitles_icon {
		grid-row: 8;
	}
	#subtitles_text {
		grid-row: 10;
	}
	#quality_icon {
		grid-row: 12;
	}
	#quality_text {
		grid-row: 14;
	}
}

@media screen and (min-width: 1600px) {
	#one, #two {
		grid-row: 1 / span 3;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
	#one {
		grid-column: 1;
		background-image: url("img/1.svg");
		background-position-x: right 128px;
	}
	#two {
		grid-column: 7;
		background-image: url("img/2.svg");
		background-position-x: left 64px;
	}
}